<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vent</title>
   <link rel="stylesheet" href="/stylesheets/style.css">
   <link rel="stylesheet" href="/assets/css/materialize.css">
   <link rel="stylesheet" href="assets/materialize.min.css">
</head>

<body>
  <div class="wrapper">
    <img src="/assets/img/angry.png" class="flame"
    <header>
      <h1>
        <a href="/" class="title">Vent<br><br>
        The hot air has to go somewhere</a>
      </h1>
      <nav>
        {{#if loggedIn}}
        <a href="/dashboard">dashboard</a>
        <button id="logout" class="btn-no-style">logout</button>
        {{else}}
        <a href="/login">login</a>
        {{/if}}
      </nav>
    </header>
    <main>
      {{{ body }}}
    </main>
    <footer>
      <img src="/assets/img/angry.png" style="width: 25px"> Vent | 2022
    </footer>
  </div>
  
  {{#if loggedIn}}
  <script src="/javascript/logout.js"></script>
  {{/if}}
</body>

</html>