<section>
  <h2>Create New Post</h2>

  <form class="new-vent-form">
    <div>
      <label for="vent-title">Title</label>
      <input type="text" id="vent-title" name="vent-title" />
    </div>
    <div>
      <label for="vent-text">Link</label>
      <input id="vent-text" name="vent-text" />
    </div>
    <button type="submit" class="btn">Create</button>
  </form>
</section>

{{#if vents.length}}
<section>
  <h2>Your Vents</h2>
  <ol>
    {{#each vents as |vent|}}
    <li>
      {{> vent-info post}}
      <a href="/dashboard/edit/{{vent.id}}" class="edit-link">Edit vent</a>
    </li>
    {{/each}}
  </ol>
</section>
{{/if}}

<script src="/javascript/add-vent.js"></script>