{{!-- <div class="col mb-4">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"></div>
                                  <ul class="vent-list">
  {{#each vents as |vent|}}
  <li>
    {{> vent-info vent }}
  </li>
  {{/each}}
</ul>
                            </div>
                        </div>
                    </div>
                    <div class="col mb-4">
                        <div class="card shadow-sm">
                            <div class="card-body px-4 py-5 px-md-5">
                                <div class="bs-icon-lg d-flex justify-content-center align-items-center mb-3 bs-icon" style="top: 1rem;right: 1rem;position: absolute;"></div>
                                <h5 class="fw-bold card-title" style="font-family: Aldrich, sans-serif;" id="Vent_Post_Username">Username</h5>
                                <p class="text-muted card-text mb-4" style="font-family: Aldrich, sans-serif;" id="Vent_Post">Their Post</p>
                                <button class="btn btn-success btn-sm shadow" type="button" style="font-family: Aldrich, sans-serif;background: var(--bs-red);border-style: none;"><img src="assets/img/flame.png" id="Like" style="width: 25px;"></button>
                                <button class="btn btn-danger btn-sm shadow" type="button" style="font-family: Aldrich, sans-serif;background: var(--bs-body-color);border-style: none;"><img src="assets/img/fire-extinguisher-emoji-759732.png" id="Dislike" style="width: 25px;"></button>
                                <button class="btn btn-danger btn-sm shadow" type="button" style="font-family: Aldrich, sans-serif;background: var(--bs-green);border-style: none;"><img src="assets/img/icons8-chat-message-50.png" id="Comment"style="width: 28px;"></button>
                            </div>
                        </div>
                    </div> --}}

<ul class="vent-list">
  {{#each vents as |vent|}}
  <li>
    {{> vent-info vent }}
  </li>
  {{/each}}
</ul>