<form class="login-form">
  <div>
    <label for="email-login">email:</label>
    <input type="text" id="email-login" />
  </div>
  <div>
    <label for="password-login">password:</label>
    <input type="password" id="password-login" />
  </div>
  <div>
    <button type="submit">login</button>
  </div>
</form>

<form class="signup-form">
  <div>
    <label for="username-signup">username:</label>
    <input type="text" id="username-signup" />
  </div>
  <div>
    <label for="email-signup">email:</label>
    <input type="text" id="email-signup" />
  </div>
  <div>
    <label for="password-signup">password:</label>
    <input type="password" id="password-signup" />
  </div>
  <div>
    <button type="submit">signup</button>
  </div>
</form>

<script src="/javascript/login.js"></script>

{{!-- <section class="position-relative py-4 py-xl-5">
                        <div class="row d-flex justify-content-center">
                            <div class="col-md-6 col-xl-4" style="width: 500px;">
                                <h1 style="text-align: center;font-family: Aldrich, sans-serif;color: var(--bs-white);background: #dc3545;width: 476px;">Login</h1>
                                <div class="card mb-5">
                                    <div class="card-body d-flex flex-column align-items-center"><img src="assets/img/angry.png" style="width: 60px;min-width: 100px;height: 100px;">
                                        <form id="Login" class="text-center login-form" method="post">
                                            <div class="mb-3"></div>
                                            <input class="form-control" id="Email_Login" type="email" name="email" placeholder="Email" style="font-family: Aldrich, sans-serif;">
                                            <div class="mb-3"></div><input class="form-control" type="password" name="password" placeholder="Password" id="Login_Password" style="font-family: Aldrich, sans-serif;">
                                            <div class="mb-3"></div><button class="btn btn-danger d-block w-100" type="submit" id="Login_Button" style="font-family: Aldrich, sans-serif;border-style: none;">Login</button>
                                        </form>
                                    </div>
                                </div>
                                <h1 style="text-align: center;font-family: Aldrich, sans-serif;color: var(--bs-white);background: var(--bs-green);">Register</h1>
                                <div class="card mb-5">
                                    <div class="card-body d-flex flex-column align-items-center"><img src="assets/img/angry.png" style="width: 60px;min-width: 100px;height: 100px;">
                                        <form id="Login" class="text-center signup-form" method="post">
                                            <div class="mb-3"></div><input class="form-control" id="Username_Login" type="Username" name="username" placeholder="Username" style="font-family: Aldrich, sans-serif;">
                                            <div class="mb-3"></div><input class="form-control" type="email" name="email" placeholder="Email" id="Register_Email" "style="font-family: Aldrich, sans-serif;">
                                            <div class="mb-3"></div><input class="form-control" type="password" name="password" placeholder="Password" id="Register_Password" style="font-family: Aldrich, sans-serif;">
                                            <div class="mb-3"></div><button class="btn btn-danger d-block w-100" type="submit" id="Register_Button" style="background: var(--bs-green);font-family: Aldrich, sans-serif;border-style: none;">Register</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section> --}}