{{> vent-info vent}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit"><img src="/public/assets/img/icons8-chat-message-50.png" style="width 28px">add comment</button>
    <button type="button" class="upvote-btn"><img src="/public/assets/img/flame.png" style="width 25px">like</button>
  </div>
</form>
{{/if}}

{{> comments vent.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
{{/if}}