{{> vent-info vent}}

{{#if loggedIn}}
<form class="comment-form">
  <div>
    <textarea name="comment-body"></textarea>
  </div>

  <div>
    <button type="submit"><img src="/assets/img/icons8-chat-message-50.png" style="width: 15px"> add comment</button>
    <button type="button" class="upvote-btn"><img src="/assets/img/flame.png" style="width: 15px"> like</button>
    <button type="button" class="downvote-btn"><img src="/assets/img/fire-extinguisher-emoji-759732.png" style="width: 15px"> dislike</button>
  </div>
</form>
{{/if}}

{{> comments vent.comments}}

{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
<script src="/javascript/upvote.js"></script>
<script src="/javascript/downvote.js"></script>
{{/if}}